@layer blue;

@layer blue {
    :root {
        --color1: #0e7ade;
        --color2: #51a9ff;
        --color3: #09ccd9;
        --button-background: radial-gradient(circle, #09bdd9, #0d78b1);
    }
}