@layer green;

@layer green {
    :root {
        --color1: #00c684;
        --color2: #0fe444;
        --color3: #61d800;
        --button-background: radial-gradient(circle, #14C388, #147655);
    }
}